@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Joel Hilton Film Collection</h1>
    <img src="img/JoelHiltonHeadshot.jpg" alt="Joel Hilton" height="400">
    <p>Joel Hilton is a movie connoisseur, this website manages his highly curated movie collection.</p> 
    <a asp-controller="Home" asp-action="AboutJoel">Get to know Joel</a>
</div>
